html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  margin:0;
  padding:0;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* header styles */
.header {
  height: 60px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: flex;
  padding: 0px;
  padding-right: 260px;
}

.logo {
  height: calc(100% - 10px);
  width: auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.title-bar {
  height: 100%;
  flex-grow: 2;
}

.title {
  width: 100%;
  font-size: 18pt;
}

/* counter-box styles */
.counter-box {
  width: 230px;
  position: absolute;
  top: 5px;
  right: 20px;
  text-align: left;
}

.counter-label {
  font-size: 32pt;
  font-weight: bold;
  color: rgba(234,85,69,1);
}

/* time-controls styles */
.time-controls {
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
}

.time-slider {
  width: 100%;
  margin-right: 5px;
}

.play-pause-button {
  margin-right: 15px;
}

.time-label {
  width: 360px;
  font-size: 13pt;
}

/* content styles */
#content {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #f6f6f6;
}

#map {
  width: calc(100% - 300px);
  height: calc(100% - 100px);
}

#side-panel {
  position: absolute;
  top: 95px;
  right: 0px;
  width: 300px;
  height: calc(100% - 100px);
}

.chart {
  width: 280px;
  height: calc(50% - 20px);
  margin: 0px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.chart-title {
  font-size: 13pt;
}

hr {
  border-width: thin;
}

.chart-container {
  width: 100%;
  height: 100%;
}

p {
  color: #999;
}

/* legend-box styles */
.legend-box {
  max-width: 200px !important;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border-color: #999;
  border-style: solid;
  border-width: thin;
}

.legend-box .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}

.legend-box .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend-box .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend-box ul.legend-labels li span {
  display: block;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  border-radius: 3px;
}

.legend-box .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.legend-box a {
  color: #777;
}
